<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:3000">Weather Application</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item {{#isActive page 'home'}}{{/isActive}}">
                    <a class="nav-link" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#isActive page 'weather'}}{{/isActive}}">
                    <a class="nav-link" href="http://localhost:3000/weather">Weather</a>
                </li>
            </ul>
        </div>
    </nav>
</header>